<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <app-header></app-header>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <app-server></app-server>
            </div>
            <div class="col-xs-12 col-sm-6">
                <app-server-detail></app-server-detail>
            </div>
        </div>
        <hr>
        <app-footer></app-footer>
    </div>
</template>

<script>
    import Header from './Header.vue'
    import Server from './Server.vue'
    import ServerDetail from './ServerDetail.vue'
    import Footer from './Footer.vue' 
    export default {
        components: {
            'app-server': Server,
            'app-header': Header,
            'app-server-detail': ServerDetail,
            'app-footer': Footer,
        }
    }
</script>

<style>

</style>
